/* Soluzione qui */

/* TABLET */

@media screen and (min-width:768px) {
    #topbar {
        justify-content: flex-start;
    }

    .recipe-origin {

        display: inline;
    }

    .quick-notes li {
        display: inline-block;
    }

    .btn {
        padding: 10px 55px;
    }

    .presentation img {
        float: left;
        margin-right: 10px;
    }

    .ads {
        display: block;
    }
}


/* DESKTOP */

@media screen and (min-width:992px) {
    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 70%;
        height: 400px;
    }

    .recipe-info {
        width: 30%;
    }

    .quick-notes li {
        display: block;
    }

    .social-networks .label {
        display: inline;
        color: black;
    }

    .social-networks button {
        padding: 10px 15px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}